body {
   background-color: #BE9FE1;
}

hr{
  background-color: #BE9FE1;
  border-style: dotted none none none;
  height:1px;
  border-width: 10px 4px;
  width: 5%;
  border-color: grey;
}

h1{color: #347474;}
h3{color: #347474; text-shadow: 3px 3px #42B883;}
